p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: $mobile-min) {
    width: $mobile-min;
  }
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.section {
  margin: 0;
  padding: 0;
}
