.advantages {
    padding-bottom: 40px;
    background-color: #FFF5F6;
    @media screen and (min-width:$tablet) {
        padding-bottom: 80px;
        background-color: #FFF5F6;
    }
    @media screen and (min-width:$desktop) {
        padding-bottom: 120px;
        background-color: #FFF5F6;
    }
}

.advantages-title {
    color: var(--second-title-color);
}

.advantages-list {   
   display: flex;
   flex-direction: column;
   @media screen and (min-width:$tablet) {
    flex-direction: row;
    padding-right: 209px;
    }
    @media screen and (min-width:$desktop) {
        padding-right: 124px;
        column-gap: 130px;
        }    
}

.advantages-item {
    padding-right: 50px;
    @media screen and (min-width:$tablet) {
        padding: 0;
        flex-basis: calc(100% / 3 - 20px);
    }  
    @media screen and (min-width:$desktop) {
        flex-basis: calc(100% / 3 - 100px);       
    }  
}

.advantages-item:not(:last-child) {
    margin-bottom: 32px;
    @media screen and (min-width:$tablet) {
    margin-bottom: 0;
    }
}

.advantages-item-one::before {
    content: url('/src/images/1280px/advantages1.png');
}

.advantages-item-two::before {
    content: url('/src/images/1280px/advantages2.png');
}

.advantages-item-thre::before {
    content: url('/src/images/1280px/advantages3.png');
}

.advantages-text {
    font-family: 'DM Sans';
    margin-top: 16px;
    @include font( null, 700, 12px, 170%, null, null, null, var(--text-color-dark), null);
    @media screen and (min-width:$tablet) {
        margin-top: 36px;
        line-height: 174%;
    }
    @media screen and (min-width:$desktop) {
        margin-top: 40px;
        font-size: 16px;
        line-height: 176%;
        letter-spacing: 0.02em;
    }
}

.advantages-text-sp { 
    display: block;
    font-family: 'Titan One';
    width: 98px;
    height: 56px;
    @include font( null, null, 36px, 1.139, 00.04em, uppercase, null, var(--second-title-color), null);
    @media screen and (min-width:$desktop) {
        margin-bottom: 16px;
        width: 147px;
        height: 65px;
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.04em;
    }
}