.bgr {
    background-color:var(--modal-color);
}
/////////////////// header-hero-btn///////////////////
.modal__btn{
    @include font(null, 700, 16px, 1.31, null, null, center, var(--main-btn-color) , var(--main-title-color) );

    border-radius: 22px;
    border: none;

    padding: 15px 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover,
    :focus {
    background-color:var(--second-btn-color);
    }
    transition-duration:var(--transition-duration);
    
}
.modal__icon-btn {
    margin-left: 15px;
}

.product__btn {
    @include font(null, 400, 16px, 1.31, null, null, center, var(--main-title-color),var(--main-btn-color) );
    
    border-radius: 22px;
    border: none;
    
    padding: 15px 40px;
    
    &:hover,
    :focus {
    background-color: var(--second-btn-color);
    color:var(--main-title-color) ;
    }
    transition-duration:var(--transition-duration);
    @media screen and (max-width: 1199px) {
        font-size: 8px;
        line-height:0.8;
        padding: 9px 14px;
    }

}

.made__btn {
    @include font(null, 400, 16px, 1.31, null, null, center, var(--main-btn-color), var(--main-title-color));

    border-radius: 22px;
    border: none;

    padding: 15px 40px;
    
    &:hover,
    :focus {
    background-color: var(--second-button-color);
    }
    @media screen and (max-width: 1199px) {
        font-size: 8px;
        line-height: 0.8;
        line-height: 0.8;
        padding: 9px 14px;
    }
    transition-duration:var(--transition-duration);
}
// ///////////////Header-hero-products-button////////////////
.hero-href {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    fill:var(--main-btn-color);
    align-items: center;
    
    &:hover,
    :focus {
    background-color: var(--second-button-color);
    }
    transition-duration:var(--transition-duration);
}


//////////////////////how it’s made-button////////////
.read-more__btn {
    @include font(null, 700, 16px, 1.31, null, null, center, var(--main-btn-color),var(--main-title-color) );

    border-radius: 22px;
    border: none;

    padding: 15px 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    :focus {
        background-color: var(--second-button-color);
    }
    transition-duration:var(--transition-duration);
}

///////////////////footer-button//////////
.footer__btn {
    @include font(null, 700, 16px, 1.31, null, null, center, var(--main-title-color), var(--main-btn-color) );
    
    border-radius: 22px;
    border: none;
    
    padding: 15px 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover,
    :focus {
    background-color: var(--second-btn-color);
    color: var(--main-title-color);
    }
    
    transition-duration:var(--transition-duration);
}
// //////////////////////////////Hover-footer-btn/////////////////
.footer__btn-franchise {
    &:hover,
    :focus {
    background-color: var(--second-button-color);
    color: var(--main-btn-color);
    }
}


.background__btn {
background-color:var(--main-title-color);
color: var(--main-btn-color);
}
