.customer {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 80px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.customer__pict,
.customer__pict > source,
.customer__pict > img {
  max-width: 84px;
  max-height: 84px;
  margin: 0 auto 32px auto;
}

.customer__bg {
  background-color: #fafafa;
  padding: auto;
  margin-bottom: 36px;

  @media screen and (max-width: 767px) {
    padding: 30px 50px 17px 50px;
  }

  @media screen and (min-width: 768px) {
    padding: 20px 6px 36px 6px;
  }

  @media screen and (min-width: 1280px) {
    padding: 32px 107px 31px 105px;
  }
}

.customer__box {
  position: relative;

  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );

  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    // padding-left: 15px;
    // padding-right: 8px;

    max-width: 180px;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    // padding-left: 50px;
    // padding-right: 55px;

    width: 608px;
    height: auto;
  }

  @media screen and (min-width: 1280px) {
    // padding-left: 36px;
    // padding-right: 35px;

    width: 822px;
    height: auto;
  }
}

/* зворотній апостроф */
.customer__box::before {
  position: absolute;
  // z-index: 1;
  content: '';
  background: url('../images/apostrophe.png') no-repeat;
  top: -15px;
  left: 0;
  display: block;
  height: 40px;
  width: 54px;
}

.customer__text {
  // padding-top: 15px;
  // z-index: 2;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  // background-image: repeating-linear-gradient(
  //   to top,
  //   #e1e1e1,
  //   #e1e1e1 1px,
  //   transparent 1px,
  //   transparent 31px
  // );

  @media screen and (max-width: 767px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    letter-spacing: 0.04em;
    max-width: 515px;
    height: auto;
  }

  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    text-align: center;
    letter-spacing: 0.04em;
    width: 515px;
    height: auto;
  }

  @media screen and (min-width: 1280px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    width: 750px;
    height: auto;
  }

  /* font-family: DM + Sans;
  @include font(
    null,
    500,
    12px,
    2.55,
    null,
    null,
    center,
    var(--text-color-dark),
    #fafafa
  ); */
}

.customer__name {
  position: relative;

  @media screen and (max-width: 767px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
  }

  @media screen and (min-width: 1280px) {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;
    text-align: center;
  }
}

/* крапочки */
.customer__name::before {
  position: absolute;
  content: '';
  background: url('../images/points.png') no-repeat;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 40px;
  width: 32px;
}

.slider {
  position: relative;
  text-align: center;
  top: 10px;

  margin: 0 auto;
}

.slides article {
  width: 20%;
  float: left;
}

.slides .image {
  width: 500%;
  line-height: 0;
}

.overflow {
  width: 100%;
  overflow: hidden;
}

// .desktop:checked ~ .slider {
//   max-width: 750px;
// }

// @media screen and (min-width: 1280px) {
//   #switch1:checked ~ .controls label:nth-child(3),
//   #switch2:checked ~ .controls label:nth-child(1),
//   #switch3:checked ~ .controls label:nth-child(2) {
//     background: url('../images/prev.png') no-repeat;
//     float: left;
//     margin: 50px 0 0 -84px;
//     display: block;
//     height: 68px;
//     width: 68px;
//   }
// }

// @media screen and (min-width: 1280px) {
//   #switch1:checked ~ .controls label:nth-child(2),
//   #switch2:checked ~ .controls label:nth-child(3),
//   #switch3:checked ~ .controls label:nth-child(1) {
//     background: url('../images/next.png') no-repeat;
//     float: right;
//     margin: 50px -84px 0 0;
//     display: block;
//     height: 68px;
//     width: 68px;
//   }
// }

label,
a {
  cursor: pointer;
}

.all input {
  display: none;
}

#switch1:checked ~ .slides .image {
  margin-left: 0;
}

#switch2:checked ~ .slides .image {
  margin-left: -100%;
}

#switch3:checked ~ .slides .image {
  margin-left: -200%;
}

// .controls {
//   margin: -25% 0 0 0;
//   width: 100%;
//   height: 50px;
// }

// .active {
//   bottom: 16px;
// }

.active label {
  margin-top: 16px;
  border-radius: 10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #d9d9d9;
}

.active label:nth-child(1) {
  background: url('../images/hause.png') no-repeat;
}

.active label:hover:nth-child(1) {
  background: url('../images/hause.png') no-repeat;
}

.active label:not(:last-child) {
  margin-right: 18px;
}

.active label:hover {
  background: #76c8ff;
}

#switch2:checked ~ .active label:nth-child(2),
#switch3:checked ~ .active label:nth-child(3) {
  background: #76c8ff;
}

.slides .image {
  transition: all 800ms cubic-bezier(0.7, 0, 0.175, 1);
}

// .controls label {
//   opacity: 1;
//   transition: opacity 800ms cubic-bezier(0.7, 0, 0.175, 1);
// }

// .controls label:hover {
//   opacity: 0.6;
// }

// .controls label {
//   transition: opacity 0.2s easy-out;
// }
