.header {
    position: absolute;
    width: 100%;
    padding: 8px 0;

    @media screen and (min-width:$tablet) {
        padding: 32px 0;
    }

    @media screen and (min-width:$desktop) {
        padding: 40px 0;
    }
}

.header__box {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    font-family: 'Titan One', cursive;


    font-size: 36px;
    line-height: 1.46;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--second-title-color);
    text-decoration: none;

}

.header__icon {
    width: 50px;
    margin-right: 18px;
}

.header__navigation {
    display: flex;

    @media screen and (max-width:$desktop) {
        display: none;

    }
}

.navigation__list {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation__item {
    &:not(:last-child) {
        margin-right: 35px;
    }
}

.navigation__link {
    display: flex;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    /* identical to box height */
    text-decoration: none;

    color: var(--main-title-color);
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--second-title-color);
    }
}

.btn-box {
    display: flex;
    align-items: center;
}

.open-menu {
    @media screen and (min-width:$tablet) {
        margin-right: 32px;
    }

    @media screen and (min-width:$desktop) {
        display: none;
    }
}

.header__btn {
    @media screen and (max-width:$tablet) {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 85%;
    padding: 60px 20px 20px 20px;
    transform: translateX(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
    overflow-x: scroll;

    background-color: #E17992;

    @media screen and (min-width:$tablet) {
        width: 40%;
    }

    @media screen and (min-width:$desktop) {
        display: none;
    }

}

.mobile-menu.is-open {
    transform: translateX(0);
}

.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-btn {
    margin-bottom: 19px;
}

.mobile-menu__list {

    list-style: none;
}

.mobile-menu__item {
    border-bottom: 1px solid #E18298;


}

.mobile-menu__link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--main-title-color);
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--second-title-color);
    }
}

.hero {
    padding-top:200px ;
    padding-bottom:152px ;
    background-color: var(--header-color);
    @media screen  and (min-width:$tablet) {
    padding-top: 102px;
        padding-bottom: 152px;
    }
 @media screen and (min-width:$desktop) {
padding-top: 140px;
    padding-bottom: 152px;
 }
}



.hero__title {
    display: inline-block;
    font-family: Titan One;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
            line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
    max-width: 218px;
        color: #FFFFFF;
        
        @media screen and (min-width:$tablet) {
            font-size: 22px;
                line-height: 1.13;
            max-width: 162px;
        }
        @media screen and (min-width:$desktop) {
            font-size: 38px;
                line-height: 1.51;
            max-width: 277px;
            
        }
        span{
            display: inline-block;
            font-size: 48px;
                line-height: 0.96;
                
                /* or 46px */
                color: var(--second-title-color);
                @media screen and (min-width:$tablet) {
                    font-size: 34px;
                        line-height: 0.91;
                        
                }
                 @media screen and (min-width:$desktop) {
                    font-size: 58px;
                        line-height: 0.9;
                        

                 }
        }
}

.hero-button__list {
    display: flex;
    list-style: none;
    margin-top: 20px;
    @media screen and (min-width:$desktop) {
        margin-top: 24px;
    }

}

.hero-button__item {
    &:not(:last-child){
        margin-right: 10px;
    }
}

.hero-button__link {
    text-decoration: none;
}