.products-title {
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 34px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #D41443;
}