@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --header-color: #ffb8ca;
  --main-title-color: #ffffff;
  --second-title-color: #d41443;
  --modal-color: #E17992;
  --main-btn-color: #d41443;
  --second-btn-color: #c7133e;
  --second-button-color: #ecebeb;
  --footer-btn-color: #d41342;
  --accent-color: #ffa5ba;
  --typical-margin: 60px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "DM Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.section {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.products-title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

h1 {
  color: red;
  height: 50px;
}

.footer {
  background-color: #fff5f6;
}

.location-franshise {
  display: block;
}
@media screen and (min-width: 768px) {
  .location-franshise {
    display: flex;
    justify-content: center;
  }
}

.location-franshise__item {
  list-style: none;
  justify-content: center;
  display: flex;
}

.box-button {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .box-button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .box-button {
    margin-bottom: 120px;
  }
}

.box-button__btn1,
.box-button__btn2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-radius: 22px;
  list-style: none;
  height: 44px;
  width: 161.45px;
  position: relative;
  border: none;
}

.box-button__btn1 {
  margin-bottom: 10px;
  color: var(--main-title-color);
  background-color: var(--footer-btn-color);
}
@media screen and (min-width: 768px) {
  .box-button__btn1 {
    margin-bottom: 0;
    color: var(--main-title-color);
    background-color: var(--footer-btn-color);
    margin-right: 15px;
  }
}

.box-button__btn2 {
  text-align: center;
  color: var(--main-btn-color);
  background-color: var(--main-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.box-button__btn2:hover, .box-button__btn2:focus {
  text-align: cnull;
  background-color: var(--second-button-color);
}

.box-button__btn1 .box-button__icon {
  margin-left: 8px;
  fill: var(--second-button-color);
}
@media screen and (min-width: 768px) {
  .box-button__btn1 .box-button__icon {
    margin-left: 13.17px;
  }
}
@media screen and (min-width: 1280px) {
  .box-button__btn1 .box-button__icon {
    margin-left: 13.62px;
  }
}

.box-button__btn2 .box-button__icon {
  margin-left: 13.17px;
  fill: var(--main-btn-color);
}
@media screen and (min-width: 1280px) {
  .box-button__btn2 .box-button__icon {
    margin-left: 13.62px;
  }
}

.text {
  margin-bottom: 40px;
  width: 234px;
  height: 134px;
}
@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 0;
    position: absolute;
    width: 340px;
    height: 179px;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    width: 474px;
    height: 116px;
  }
}

.footer-text {
  list-style: none;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  font-family: Titan One;
}
@media screen and (min-width: 768px) {
  .footer-text {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1280px) {
  .footer-text {
    margin-bottom: 16px;
  }
}

.text-2 {
  list-style: none;
  font-size: 34px;
  line-height: 1.147;
  color: var(--main-btn-color);
  font-family: Titan One;
}
@media screen and (min-width: 768px) {
  .text-2 {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
  }
}

.footer-soc {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin-bottom: 40px;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer-soc {
    margin-top: 132px;
  }
}

.footer-soc__list {
  max-width: 100%;
  display: flex;
  list-style: none;
}

.fotter-soc__link {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.fotter-soc__link:hover, .fotter-soc__link:focus {
  background-color: var(--second-title-color);
}

.footer-soc__item + .footer-soc__item {
  margin-left: 28.24px;
}

.footer-soc__icon {
  fill: var(--main-title-color);
}

.footer-contacs {
  justify-content: end;
  display: flex;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .footer-contacs {
    margin-bottom: 127px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contacs {
    margin-bottom: 68px;
  }
}

.footer-contacs__list {
  text-decoration: none;
  list-style: none;
}

.footer-contacs__text {
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  font-style: bold;
}

.footer-contacts__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--main-btn-color);
  font-style: bold;
}

.unicode {
  margin-right: 4px;
}

.end {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #907e82;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  font-style: bold;
}
@media screen and (min-width: 768px) {
  .end {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 767px) {
  .end {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.end::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-top: 1px solid #e1e1e1;
  width: 100%;
  margin: 0 1.5rem;
  transform: translateY(-1rem);
}
@media screen and (min-width: 768px) {
  .end::before {
    transform: translateY(-0.5rem);
  }
}/*# sourceMappingURL=index.css.map */