@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --header-color: #ffb8ca;
  --main-title-color: #ffffff;
  --second-title-color: #d41443;
  --modal-color: #E17992;
  --main-btn-color: #d41443;
  --second-btn-color: #c7133e;
  --second-button-color: #ecebeb;
  --footer-btn-color: #d41342;
  --accent-color: #ffa5ba;
  --typical-margin: 60px;
  --text-color: #907E82;
  --btn-light: #FFFFFF;
  --text-color-dark: #000000;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "DM Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px;
  }
}

.section {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 8px;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 40px;
  }
}

.header__box {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.46;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
@media screen and (min-width: 480px) {
  .header__logo {
    font-size: 36px;
  }
}

.bounce-in-top {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.header__icon {
  height: 50px;
}
@media screen and (min-width: 320px) {
  .header__icon {
    margin-right: 18px;
  }
}

.header__navigation {
  display: flex;
}
@media screen and (max-width: 1279px) {
  .header__navigation {
    display: none;
  }
}

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item:not(:last-child) {
  margin-right: 35px;
}

.navigation__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--main-title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--second-title-color);
}

.btn-box {
  display: flex;
  align-items: center;
}

.open-menu {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .open-menu {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .open-menu {
    display: none;
  }
}

.header__btn {
  color: var(--main-btn-color);
  background-color: var(--main-title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  border-radius: 22px;
  border: none;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 300ms;
}
.header__btn:hover,
.header__btn :focus {
  background-color: var(--second-button-color);
}
@media screen and (max-width: 768px) {
  .header__btn {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100vh;
  width: 75%;
  padding: 60px 20px 20px 20px;
  transform: translateX(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  overflow-x: scroll;
  background-color: #E17992;
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.modal-btn {
  display: inline-block;
  margin-bottom: 19px;
}

.mobile-menu__item {
  border-bottom: 1px solid #E18298;
}
.mobile-menu__item:nth-child(1) {
  border-top: 1px solid #E18298;
}

.mobile-menu__link {
  font-style: normal;
  padding: 12px 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--main-title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--second-title-color);
}

.hero {
  position: relative;
  overflow: hidden;
  background-color: var(--header-color);
  padding-top: 200px;
  padding-bottom: 152px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 102px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 147px;
    padding-bottom: 60px;
  }
}

.background__hero {
  position: absolute;
  top: 89px;
  right: -60px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .background__hero {
    top: 43px;
    right: 185px;
    width: 335px;
    height: 333px;
  }
}
@media screen and (min-width: 1280px) {
  .background__hero {
    top: 54px;
    right: 26%;
    width: 534px;
    height: 534px;
  }
}
@media screen and (min-width: 2050px) {
  .background__hero {
    right: 35%;
  }
}

.background__images {
  position: absolute;
  width: 171px;
  right: 10px;
  top: 30px;
}
@media screen and (min-width: 320px) {
  .background__images {
    right: 94px;
  }
}
@media screen and (min-width: 768px) {
  .background__images {
    width: 143px;
    right: 118px;
    top: 76px;
  }
}
@media screen and (min-width: 1280px) {
  .background__images {
    width: 236px;
    right: 179px;
    top: 168px;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 1s both;
          animation: wobble-hor-bottom 1s both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.hero__box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero__title {
  display: inline-block;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    line-height: 1.13;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    line-height: 1.15;
  }
}
.hero__title span {
  font-size: 48px;
  line-height: 0.95;
  color: var(--second-title-color);
}
@media screen and (min-width: 768px) {
  .hero__title span {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title span {
    font-size: 58px;
    line-height: 0.91;
  }
}

.hero-btn__list {
  display: flex;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .hero-btn__list {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-btn__list {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

.hero-btn__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (min-width: 1280px) {
  .hero-btn__item:not(:last-child) {
    margin-right: 12px;
  }
}

.hero-btn__link {
  display: inline-block;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  color: var(--main-title-color);
}

.hero__list {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .hero__list {
    display: none;
  }
}

.hero__item {
  position: relative;
}
.hero__item:not(:last-child) {
  margin-bottom: 16px;
}

.hero__item::before {
  position: absolute;
  top: -5px;
  right: -5px;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--main-title-color);
  border-radius: 50%;
}
@media screen and (min-width: 1280px) {
  .hero__item::before {
    width: 30px;
    height: 30px;
  }
}

.hero__discription {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--main-title-color);
}
@media screen and (min-width: 1280px) {
  .hero__discription {
    font-size: 14px;
  }
}
.hero__discription span {
  position: -webkit-sticky;
  position: sticky;
  display: block;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: var(--second-title-color);
}
@media screen and (min-width: 1280px) {
  .hero__discription span {
    font-size: 46px;
  }
}

.eco {
  display: flex;
}
@media screen and (max-width: 767px) {
  .eco {
    display: none;
  }
}

.eco__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.eco__image {
  width: 152px;
}
@media screen and (min-width: 1280px) {
  .eco__image {
    width: 312px;
  }
}

.eco__discription {
  max-width: 116px;
  margin-bottom: 20px;
  align-items: center;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--main-title-color);
}
@media screen and (min-width: 1280px) {
  .eco__discription {
    font-size: 14px;
    line-height: 1.42;
    max-width: 200px;
  }
}

.eco__link {
  display: inline-flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--main-title-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.eco__link:hover, .eco__link:focus {
  background-color: var(--second-button-color);
}
@media screen and (min-width: 1280px) {
  .eco__link {
    width: 26px;
    height: 26px;
  }
}

.eco__icon {
  fill: var(--second-title-color);
}

.girl__bg {
  position: absolute;
  right: 0;
  bottom: -16px;
  width: 190px;
}
@media screen and (min-width: 1280px) {
  .girl__bg {
    width: 304px;
    bottom: -60px;
  }
}

.top__link {
  position: fixed;
  z-index: 2;
  right: 2%;
  bottom: 2%;
}
.top__link:hover, .top__link:focus {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.top-link__icon {
  fill: var(--main-btn-color);
}

@media screen and (max-width: 767px) {
  .products {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.products__title-text {
  justify-content: center;
  color: #FFA5BA;
  font-family: "Titan One";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .products__title-text {
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .products__title-text {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products__title-text {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.products__title {
  justify-content: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  color: #D41443;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .products__title {
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .products-content {
    margin-top: 156px;
  }
}
@media screen and (min-width: 1280px) {
  .products-content {
    margin-top: 258px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    justify-content: center;
  }
}

.products-list__item-icecream {
  background-color: #FFB8CA;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .products-list__item-icecream {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 140px;
    width: 280px;
    height: 489px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__item-icecream {
    margin-right: 16px;
    width: 224px;
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list__item-icecream {
    margin-right: 32px;
    width: 395px;
    height: 535px;
  }
}

.products-list__item-icecoffee {
  background-color: #F0D1A5;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .products-list__item-icecoffee {
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 140px;
    width: 280px;
    height: 489px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__item-icecoffee {
    margin-right: 16px;
    width: 224px;
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list__item-icecoffee {
    margin-right: 32px;
    width: 395px;
    height: 535px;
  }
}

.products-list__item-milkshakes {
  background-color: #C2E297;
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .products-list__item-milkshakes {
    margin: 0 auto;
    margin-top: 140px;
    width: 280px;
    height: 489px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__item-milkshakes {
    width: 224px;
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list__item-milkshakes {
    width: 395px;
    height: 535px;
  }
}

.ice-cream::before {
  position: absolute;
  content: "";
}
@media screen and (max-width: 767px) {
  .ice-cream::before {
    background-image: url("../images/320px/products-ice-cream.png"), url("../images/320px/products-ice-cream@2x.png");
    width: 280px;
    height: 280px;
    background-size: 280px 280px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 768px) {
  .ice-cream::before {
    background-image: url(../images/768px/products-ice-cream.png), url(../images/768px/products-ice-cream@2x.png);
    width: 224px;
    height: 224px;
    background-size: 224px 224px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 1280px) {
  .ice-cream::before {
    background-image: url(../images/1280px/products-ice-cream.png), url(../images/1280px/products-ice-cream@2x.png);
    width: 394px;
    height: 394px;
    background-size: 394px 394px;
    right: 0;
    top: -260px;
  }
}

.ice-cream::after,
.ice-coffee::after,
.milkshakes::after {
  position: absolute;
  content: "...";
  font-size: 25px;
  letter-spacing: 5px;
}
@media screen and (max-width: 767px) {
  .ice-cream::after,
.ice-coffee::after,
.milkshakes::after {
    left: 125px;
    top: 205px;
  }
}
@media screen and (min-width: 768px) {
  .ice-cream::after,
.ice-coffee::after,
.milkshakes::after {
    left: 100px;
    top: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .ice-cream::after,
.ice-coffee::after,
.milkshakes::after {
    left: 175px;
    top: 208px;
  }
}

.ice-coffee::before {
  position: absolute;
  content: "";
}
@media screen and (max-width: 767px) {
  .ice-coffee::before {
    background-image: url("../images/320px/products-ice-coffee.png"), url("../images/320px/products-ice-coffee@2x.png");
    width: 280px;
    height: 280px;
    background-size: 280px 280px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 768px) {
  .ice-coffee::before {
    background-image: url(../images/768px/products-ice-coffee.png), url(../images/768px/products-ice-coffee@2x.png);
    width: 224px;
    height: 224px;
    background-size: 224px 224px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 1280px) {
  .ice-coffee::before {
    background-image: url(../images/1280px/products-ice-coffee.png), url(../images/1280px/products-ice-coffee@2x.png);
    width: 394px;
    height: 394px;
    background-size: 394px 394px;
    right: 0;
    top: -260px;
  }
}

.milkshakes::before {
  position: absolute;
  content: "";
}
@media screen and (max-width: 767px) {
  .milkshakes::before {
    background-image: url("../images/320px/products-milkshakes.png"), url("../images/320px/products-milkshakes@2x.png");
    width: 280px;
    height: 280px;
    background-size: 280px 280px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 768px) {
  .milkshakes::before {
    background-image: url(../images/768px/products-milkshakes.png), url(../images/768px/products-milkshakes@2x.png);
    width: 224px;
    height: 224px;
    background-size: 224px 224px;
    right: 0;
    top: -140px;
  }
}
@media screen and (min-width: 1280px) {
  .milkshakes::before {
    background-image: url(../images/1280px/products-milkshakes.png), url(../images/1280px/products-milkshakes@2x.png);
    width: 394px;
    height: 394px;
    background-size: 394px 394px;
    right: 0;
    top: -260px;
  }
}

.products-list__item-text {
  position: relative;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .products-list__item-text {
    padding-top: 160px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__item-text {
    padding-top: 118px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .products-list__item-text {
    padding-top: 160px;
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-main__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .products-main__text {
    padding-right: 39px;
    padding-left: 41px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .products-main__text {
    line-height: 1.76;
    padding-right: 32px;
    padding-left: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .products-main__text {
    font-size: 16px;
    line-height: 1.76;
    padding-right: 77px;
    padding-left: 77px;
    margin-bottom: 15px;
  }
}

.products-button {
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products-button:hover, .products-button:focus {
  background-color: #ECEBEB;
}

.products-arrow {
  fill: #D41443;
}

.about {
  position: relative;
  padding: 40px 0;
  background-color: #FFF5F6;
}
@media screen and (max-width: 767px) {
  .about {
    background-image: url("../images/320px/made-bg-left.png"), url("../images/320px/made-bg-right.png");
    background-size: 43px, 72px;
    background-position: left 0 top 570px, right 0 top 585px;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/320px/made-bg-left@2x.png"), url("../images/320px/made-bg-right@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 20px 0 80px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 60px 0 60px;
    background-image: url("../images/1280px/made-bg-left.png"), url("../images/1280px/made-bg-right.png");
    background-position: left 0 top 190px, right 0 top 200px;
    background-repeat: no-repeat;
    background-size: 180px, 279px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url("../images/1280px/made-bg-left@2x.png"), url("../images/1280px/made-bg-right@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .container-about {
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container-about {
    padding: 0 14px;
  }
}

.about-title {
  font-family: "Titan One";
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.section__pretitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
}

.section__title {
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--second-title-color);
}

.section__title--about {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .section__title--about {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .section__title--about {
    margin-bottom: 60px;
  }
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cow {
  flex-grow: 1;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) {
  .cow {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .cow {
    max-width: 336px;
    margin-bottom: 0;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .cow {
    max-width: 501px;
    margin-right: 139px;
  }
}

.about__text-wrapper {
  margin-right: 60px;
}
@media screen and (min-width: 768px) {
  .about__text-wrapper {
    width: 334px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__text-wrapper {
    width: 463px;
  }
}

.about__text {
  font-weight: 500;
  letter-spacing: 0.04em;
}

.about__text--main {
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about__text--main {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .about__text--main {
    font-size: 16px;
  }
}

.about__text--description {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.04em;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .about__text--description {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 1280px) {
  .about__text--description {
    line-height: 1.94;
  }
}

.btn {
  cursor: pointer;
  font-family: inherit;
  border-radius: 22px;
  border: none;
  padding: 0 37px;
  height: 44px;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.about__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 176px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  background-color: var(--btn-light);
  color: var(--main-btn-color);
}
@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.31;
  }
}
.about__btn:hover, .about__btn:focus {
  background-color: var(--second-button-color);
}

.about__icon {
  margin-left: 13px;
}

.read-more-checker {
  opacity: 0;
  position: absolute;
}

.more {
  display: none;
}

.read-more-checker:checked ~ .more {
  display: block;
  transition: var(--transition-duration);
}

.read-more-checker ~ .read-more-btn:before {
  content: "Read more";
}

.read-more-checker:checked ~ .read-more-btn:before {
  content: "Less";
}

.advantages {
  padding-bottom: 40px;
  background-color: #FFF5F6;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 80px;
    background-color: #FFF5F6;
  }
}
@media screen and (min-width: 1280px) {
  .advantages {
    padding-bottom: 120px;
    background-color: #FFF5F6;
  }
}

.advantages-title {
  color: var(--second-title-color);
}

.advantages-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    padding-right: 209px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-list {
    padding-right: 124px;
    -moz-column-gap: 130px;
         column-gap: 130px;
  }
}

.advantages-item {
  padding-right: 50px;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    padding: 0;
    flex-basis: calc(33.3333333333% - 20px);
  }
}
@media screen and (min-width: 1280px) {
  .advantages-item {
    flex-basis: calc(33.3333333333% - 100px);
  }
}

.advantages-item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages-item-one::before {
  content: url("/src/images/1280px/advantages1.png");
}

.advantages-item-two::before {
  content: url("/src/images/1280px/advantages2.png");
}

.advantages-item-thre::before {
  content: url("/src/images/1280px/advantages3.png");
}

.advantages-text {
  font-family: "DM Sans";
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: var(--text-color-dark);
}
@media screen and (min-width: 768px) {
  .advantages-text {
    margin-top: 36px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1280px) {
  .advantages-text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.advantages-text-sp {
  display: block;
  font-family: "Titan One";
  width: 98px;
  height: 56px;
  font-size: 36px;
  line-height: 1.139;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
@media screen and (min-width: 1280px) {
  .advantages-text-sp {
    margin-bottom: 16px;
    width: 147px;
    height: 65px;
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.04em;
  }
}

.gallery {
  display: flex;
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 40%);
}

.contacts-section {
  padding-bottom: 32px;
  background-image: linear-gradient(to bottom, var(--main-title-color) 25%, #fff5f6 25%);
}
@media screen and (min-width: 768px) {
  .contacts-section {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-basis: calc((100% - 64px) / 3);
  }
}
.contacts-item {
  padding: 40px 32px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  background-color: var(--main-title-color);
}
@media screen and (min-width: 1280px) {
  .contacts-item {
    padding: 40px 40px;
  }
}
.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
.contacts-item__category {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-title-color);
  background-color: #f0d1a5;
  border-radius: 4px;
  min-width: 80px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-item__category {
    border-radius: 6px;
    margin-bottom: 32px;
    font-size: 16px;
    min-width: 73px;
    height: 28px;
  }
}
.contacts-item__category--green {
  background-color: #c2e297;
  min-width: 130px;
}
@media screen and (min-width: 768px) {
  .contacts-item__category--green {
    min-width: 138px;
  }
}
.contacts-item__location {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts-item__location {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item__location {
    margin-bottom: 8px;
    font-size: 16px;
  }
}
.contacts-item__desc {
  position: relative;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts-item__desc {
    margin-bottom: 64px;
    font-size: 14px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item__desc {
    font-size: 16px;
    line-height: 1.83;
  }
}
.contacts-item__days {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .contacts-item__days {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item__days {
    font-size: 16px;
  }
}
.contacts-item__hours {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contacts-item__hours {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item__hours {
    font-size: 16px;
  }
}
.contacts-item__schedule-item:last-child {
  position: relative;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .contacts-item__schedule-item:last-child {
    margin-top: 12px;
  }
}
.contacts-item__schedule-item:last-child::after, .contacts-item__desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -24px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
@media screen and (min-width: 768px) {
  .contacts-item__schedule-item:last-child::after, .contacts-item__desc::after {
    bottom: -32px;
  }
}
.contacts-item__schedule-list {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .contacts-item__schedule-list {
    margin-bottom: 64px;
  }
}
.contacts-item__link {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
@media screen and (min-width: 768px) {
  .contacts-item__link {
    font-size: 14px;
    line-height: 1.83;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-item__link {
    font-size: 16px;
  }
}
.contacts-item__link:hover, .contacts-item__link:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #fff5f6;
}

.location-franshise {
  display: block;
}
@media screen and (min-width: 768px) {
  .location-franshise {
    display: flex;
    justify-content: center;
  }
}

.location-franshise__item {
  list-style: none;
  justify-content: center;
  display: flex;
}

.box-button {
  margin-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .box-button {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .box-button {
    margin-bottom: 120px;
  }
}

.background__btn {
  text-align: center;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .background__btn {
    margin-top: 0;
    margin-left: 15px;
  }
}

.footer__btn .modal__icon-btn {
  margin-left: 8px;
  fill: var(--second-button-color);
}
@media screen and (min-width: 768px) {
  .footer__btn .modal__icon-btn {
    margin-left: 13.17px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__btn .modal__icon-btn {
    margin-left: 13.62px;
  }
}

.background__btn .modal__icon-btn {
  margin-left: 13.17px;
  fill: var(--main-btn-color);
}
@media screen and (min-width: 1280px) {
  .background__btn .modal__icon-btn {
    margin-left: 13.62px;
  }
}

@media screen and (min-width: 768px) {
  .text {
    margin-left: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    margin-left: 16px;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc,
.footer-contacs {
    margin-right: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-soc,
.footer-contacs {
    margin-right: 16px;
  }
}

.text {
  margin-bottom: 40px;
  width: 234px;
  height: 134px;
}
@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 0;
    position: absolute;
    width: 340px;
    height: 179px;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    width: 474px;
    height: 116px;
  }
}

.footer-text {
  list-style: none;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.17;
  color: var(--accent-color);
  font-family: Titan One;
}
@media screen and (min-width: 768px) {
  .footer-text {
    margin-bottom: 12px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1280px) {
  .footer-text {
    margin-bottom: 16px;
  }
}

.text-2 {
  list-style: none;
  font-size: 34px;
  line-height: 1.147;
  color: var(--main-btn-color);
  font-family: Titan One;
}
@media screen and (min-width: 768px) {
  .text-2 {
    font-size: 48px;
    line-height: 1.146;
    letter-spacing: 0.06em;
    color: var(--main-btn-color);
  }
}

.footer-soc {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin-bottom: 40px;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .footer-soc {
    position: relative;
  }
}
@media screen and (min-width: 1280px) {
  .footer-soc {
    margin-top: 132px;
  }
}

.footer-soc__list {
  max-width: 100%;
  display: flex;
  list-style: none;
}

.footer-soc__link {
  width: 32px;
  height: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--main-title-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), fill var(--transition-duration) var(--transition-timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--second-title-color);
}

.footer-soc__item + .footer-soc__item {
  margin-left: 28.24px;
}

.footer-soc__icon {
  fill: var(--main-title-color);
}

.footer-contacs {
  justify-content: end;
  display: flex;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .footer-contacs {
    margin-bottom: 127px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-contacs {
    margin-bottom: 68px;
  }
}

.footer-contacs__list {
  text-decoration: none;
  list-style: none;
}

.footer-contacs__text {
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  font-style: bold;
}

.footer-contacts__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  color: var(--main-btn-color);
  font-style: bold;
}

.unicode {
  margin-right: 4px;
}

.end {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #907e82;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
  font-style: bold;
}
@media screen and (min-width: 768px) {
  .end {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 767px) {
  .end {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.end::before {
  position: absolute;
  display: inline-block;
  content: "";
  border-top: 1px solid #e1e1e1;
  width: 100%;
  margin: 0 1.5rem;
  transform: translateY(-1rem);
}
@media screen and (min-width: 768px) {
  .end::before {
    transform: translateY(-0.5rem);
  }
}

.bgr {
  background-color: var(--modal-color);
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: var(--main-btn-color);
  background-color: var(--main-title-color);
  border-radius: 22px;
  border: none;
  padding: 11px 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
}
.modal__btn:hover,
.modal__btn :focus {
  background-color: var(--second-btn-color);
}

.modal__icon-btn {
  margin-left: 15px;
}

.product__btn {
  font-weight: 400;
  font-size: 8px;
  line-height: 0.8;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--main-btn-color);
  border-radius: 22px;
  border: none;
  padding: 7px 15px;
  transition-duration: var(--transition-duration);
}
.product__btn:hover,
.product__btn :focus {
  background-color: var(--second-btn-color);
  color: var(--main-title-color);
}
@media screen and (min-width: 1199px) {
  .product__btn {
    font-size: 16px;
    line-height: 1.31;
    padding: 11px 24px;
  }
}

.made__btn {
  font-weight: 400;
  font-size: 8px;
  line-height: 0.8;
  text-align: center;
  color: var(--main-btn-color);
  background-color: var(--main-title-color);
  border-radius: 22px;
  border: none;
  padding: 7px 15px;
  transition-duration: var(--transition-duration);
}
.made__btn:hover,
.made__btn :focus {
  background-color: var(--second-button-color);
}
@media screen and (min-width: 1199px) {
  .made__btn {
    font-size: 16px;
    line-height: 1.31;
    padding: 11px 24px;
  }
}

.hero-href {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  fill: var(--main-btn-color);
  align-items: center;
  transition-duration: var(--transition-duration);
}
.hero-href:hover,
.hero-href :focus {
  background-color: var(--second-button-color);
}

.read-more__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: var(--main-btn-color);
  background-color: var(--main-title-color);
  border-radius: 22px;
  border: none;
  padding: 11px 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
}
.read-more__btn:hover,
.read-more__btn :focus {
  background-color: var(--second-button-color);
}

.footer__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--main-btn-color);
  border-radius: 22px;
  border: none;
  padding: 11px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
}
@media screen and (min-width: 1199px) {
  .footer__btn {
    padding: 11px 36px;
  }
}
.footer__btn:hover,
.footer__btn :focus {
  background-color: var(--second-btn-color);
  color: var(--main-title-color);
}

.background__btn {
  background-color: var(--main-title-color);
  color: var(--main-btn-color);
}
.background__btn:hover,
.background__btn :focus {
  background-color: var(--second-button-color);
  color: var(--main-btn-color);
}/*# sourceMappingURL=index.css.map */