@mixin font($mb, $fw, $fs, $lh, $ls, $tt, $ta, $col, $bcol) {
  margin-bottom: $mb;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  text-transform: $tt;
  text-align: $ta;
  color: $col;
  background-color: $bcol;
}

// @include font($mb, $fw, $fs, $lh, $ls, $tt, $ta, $col, $bcol);

@mixin bg_x2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}

// @include bg_x2 { };
