:root {
  --header-color: #ffb8ca;
  --main-title-color: #ffffff;
  --second-title-color: #d41443;
  --main-btn-color: #d41443;
  --second-btn-color: #c7133e;
  --accent-color: #ffa5ba;
  --typical-margin: 60px;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

$mobile-min: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
