<section id="about" class="about section">
    <div class="container container-about">
        <div class="about-title">
            <p class="section__pretitle">tradition and love</p>
            <h2 class="section__title section__title--about">how it’s made?</h2>
        </div>

        <div class="about__content">
            <picture class="cow">
                <!-- <source srcset="src/images/1280px/made-cow.webp 1x, src/images/1280px/made-cow@2x.webp 2x" media="(min-width:1280px)"
                type="image/webp"> -->
                <source srcset="./images/1280px/made-cow.png 1x, ./images/1280px/made-cow@2x.png 2x"
                    media="(min-width:1280px)" type="image/png">
                <!-- <source srcset="./src/images/768px/made-cow.webp 1x, ./src/images/768px/made-cow@2x.webp 2x" media="(min-width:480px)"
                type="image/webp"> -->
                <source srcset="./images/768px/made-cow.png 1x, ./images/768px/made-cow@2x.png 2x"
                    media="(min-width:480px)" type="image/png">
                <!-- <source srcset="./src/images/320px/made-cow.webp 1x, ./src/images/320px/made-cow@2x.webp 2x" media="(max-width:479px)"
                type="image/webp"> -->
                <source srcset="./images/320px/made-cow.png 1x, ./images/320px/made-cow@2x.png 2x"
                    media="(max-width:479px)" type="image/png">
                <img src="./images/320px/made-cow.png" alt="fresh milk and cow">
            </picture>

            <div class="about__text-wrapper">
                <p class="about__text about__text--main">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="about__text about__text--description">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                </p>
                <p class="about__text about__text--description">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>

                <button type="button" class="btn about__btn">
                    Read more
                    <svg class="about__icon" width="6" height="10">
                        <use href="./images/sprite.svg#icon-arrow-red"></use>
                    </svg>
                </button>                
            </div>
        </div>

    </div>


</section>