<section class="advantages">
    <div class="advantages-container container">
        <h2 class="advantages-title visually-hidden">Advantages</h2>
        <ul class="advantages-list list">
            <li class="advantages-item advantages-item-one">
                <p class="advantages-text"><span class="advantages-text-sp">721</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-item advantages-item-two">
                <p class="advantages-text"><span class="advantages-text-sp">16kg</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
            <li class="advantages-item advantages-item-thre">
                <p class="advantages-text"><span class="advantages-text-sp">84</span>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p></li>
        </ul>
    </div>
</section>