<div class="modal is-hidden">
        <button 
        type="button" 
        class="modal__close-btn">
            <svg width="14px" height="14px">
                <use href="/src/images/sprite.svg#close"></use>
            </svg>
        </button>
        
        <button 
        type="button" 
        class="modal__btn">
        Buy now
        <svg class="modal__icon-btn" width="15px" height="10px">
            <use href="/src/images/sprite.svg#icon-buy-svg"></use>
        </svg>
        </button>

        <ul class="modal__list">
            <li class="modal__item">
                <a class="modal__href current" href="">Home</a>
            </li>
            <li class="modal__item">
                <a class="modal__href" href="">About us</a>
            </li>
            <li class="modal__item">
                <a class="modal__href" href="">How it’s made?</a>
            </li>
            <li class="modal__item">
                <a class="modal__href" href="">Our products</a>
            </li>
            <li class="modal__item">
                <a class="modal__href" href="">Contact</a>
            </li>
        </ul>

</div>
