<div class="bgr">
    <!--///////////////////header-hero-btn//////////-->
    <button type="button" class="modal__btn">
        Buy now
        <svg class="modal__icon-btn" width="15px" height="13px">
            <use href="/src/images/sprite.svg#icon-buy-svg"></use>
        </svg>
    </button>

    <button type="button" class="product__btn">Products</button>

    <button type="button" class="made__btn">How it’s made?</button>

    <!--///////////////////Header-hero-products-button//////////-->
    <a href="" class="hero-href" >
        <svg width="20px" height="12px">
            <use href="/src/images/sprite.svg#icon-arrow-big"></use>
        </svg>
    </a>
<!--///////////////////how it’s made-button//////////-->
    <button type="button" class="read-more__btn">
        Read more
        <svg class="modal__icon-btn" width="15px" height="13px">
            <use href="/src/images/sprite.svg#icon-buy-svg"></use>
        </svg>
    </button>

<!--///////////////////footer-button//////////-->
<button type="button" class="footer__btn">
    Our Locations
    <svg class="modal__icon-btn" width="15px" height="13px">
        <use href="/src/images/sprite.svg#icon-buy-svg"></use>
    </svg>
</button>

<button type="button" class="footer__btn background__btn">
    Franchise
    <svg class="modal__icon-btn" width="15px" height="13px">
        <use href="/src/images/sprite.svg#icon-buy-svg"></use>
    </svg>
</button>
</div>