<section class="section customer">
  <div class="container all">
    <input checked type="radio" name="respond" class="desktop" />

    <article class="slider">
      <input checked type="radio" name="slider" id="switch1" />
      <input type="radio" name="slider" id="switch2" />
      <input type="radio" name="slider" id="switch3" />

      <div class="slides">
        <div class="overflow">
          <div class="image">
            <article>
              <picture class="customer__pict">
                <!-- <source srcset="src/images/1280px/testimonials-emily.webp 1x, src/images/1280px/testimonials-emily@2x.webp 2x" media="(min-width:1280px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/1280px/testimonials-emily.png    1x,
                    ./images/1280px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:1280px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/768px/testimonials-emily.webp 1x, ./src/images/768px/testimonials-emily@2x.webp 2x" media="(min-width:480px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/768px/testimonials-emily.png    1x,
                    ./images/768px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:480px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/320px/testimonials-emily.webp 1x, ./src/images/320px/testimonials-emily@2x.webp 2x" media="(max-width:479px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/320px/testimonials-emily.png    1x,
                    ./images/320px/testimonials-emily@2x.png 2x
                  "
                  media="(max-width:479px)"
                  type="image/png"
                />
                <img
                  src="./images/320px/testimonials-emily.png"
                  alt="fresh milk and cow"
                />
              </picture>
              <div class="customer__box">
                <p class="customer__text">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor
                  risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                  congue. Lorem ipsum primis in nibh vel risus.
                </p>
              </div>
              <div class="customer-name__box">
                <p class="customer__name">Emily, Los Angeles</p>
              </div>

              <!-- </div> -->
            </article>
            <article>
              <picture class="customer__pict">
                <!-- <source srcset="src/images/1280px/testimonials-emily.webp 1x, src/images/1280px/testimonials-emily@2x.webp 2x" media="(min-width:1280px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/1280px/testimonials-emily.png    1x,
                    ./images/1280px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:1280px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/768px/testimonials-emily.webp 1x, ./src/images/768px/testimonials-emily@2x.webp 2x" media="(min-width:480px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/768px/testimonials-emily.png    1x,
                    ./images/768px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:480px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/320px/testimonials-emily.webp 1x, ./src/images/320px/testimonials-emily@2x.webp 2x" media="(max-width:479px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/320px/testimonials-emily.png    1x,
                    ./images/320px/testimonials-emily@2x.png 2x
                  "
                  media="(max-width:479px)"
                  type="image/png"
                />
                <img
                  src="./images/320px/testimonials-emily.png"
                  alt="fresh milk and cow"
                />
              </picture>
              <p class="customer__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </article>
            <article>
              <picture class="customer__pict">
                <!-- <source srcset="src/images/1280px/testimonials-emily.webp 1x, src/images/1280px/testimonials-emily@2x.webp 2x" media="(min-width:1280px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/1280px/testimonials-emily.png    1x,
                    ./images/1280px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:1280px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/768px/testimonials-emily.webp 1x, ./src/images/768px/testimonials-emily@2x.webp 2x" media="(min-width:480px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/768px/testimonials-emily.png    1x,
                    ./images/768px/testimonials-emily@2x.png 2x
                  "
                  media="(min-width:480px)"
                  type="image/png"
                />
                <!-- <source srcset="./src/images/320px/testimonials-emily.webp 1x, ./src/images/320px/testimonials-emily@2x.webp 2x" media="(max-width:479px)"
                type="image/webp"> -->
                <source
                  srcset="
                    ./images/320px/testimonials-emily.png    1x,
                    ./images/320px/testimonials-emily@2x.png 2x
                  "
                  media="(max-width:479px)"
                  type="image/png"
                />
                <img
                  src="./images/320px/testimonials-emily.png"
                  alt="fresh milk and cow"
                />
              </picture>
              <p class="customer__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
                Lorem ipsum primis in nibh vel risus.
              </p>
            </article>
          </div>
        </div>
      </div>
      <div class="controls">
        <label for="switch1"></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
      </div>
      <div class="active">
        <label for="switch1"></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
      </div>
    </article>
  </div>
</section>
