<footer class="footer">
  <div class="container">
    <div class="box-button">
      <ul class="location-franshise">
        <li class="location-franshise__item">
          <button class="btn1">
            Our Locations<span class="arrow">></span>
          </button>
        </li>
        <li class="location-franshise__item">
          <button class="btn2">Franchise<span class="arrow">></span></button>
        </li>
      </ul>
    </div>
    <div class="footer-tablet">
      <div class="footer__box"></div>
      <div class="footer-end">
        <style class="line"></style>
        <p class="end">© 2022 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
