<footer class="footer">
  <div class="container">
    <div class="box-button">
      <ul class="location-franshise">
        <li class="location-franshise__item">
          <button class="btn1">
            Our Locations
            <svg class="arrow" width="4" height="8">
              <use href="./images/ice-cream-min.svg"></use>
            </svg>
          </button>
        </li>
        <li class="location-franshise__item">
          <button class="btn2">
            Franchise
            <svg class="arrow" width="4" height="8">
              <use href="./images/ice-cream-min.svg"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="footer-tablet">
      <div class="footer__box"></div>
      <div class="footer-end">
        <style class="line"></style>
        <p class="end">
          <span class="unicode">&#169</span> 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
