<footer class="footer">
  <div class="container">
    <div class="box-button">
      <ul class="location-franshise">
        <li class="location-franshise__item">
          <button class="box-button__btn1" type="button" data-modal-open>
            Our Locations
            <svg class="box-button__icon" width="16" height="32">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </button>
        </li>
        <li class="location-franshise__item">
          <button class="box-button__btn2" type="button" data-modal-open>
            Franchise
            <svg class="box-button__icon" width="16" height="32">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
    <div class="text">
      <ul>
        <li class="footer-text">homemade ice cream made</li>
        <li class="text-2">with passion</li>
      </ul>
      <!-- <p class="footer-text">homemade ice cream made<br></p>
      <p class="text-2">with passion</p> -->
    </div>
    <div class="footer-soc">
      <ul class="footer-soc__list">
        <li class="footer-soc__item">
          <a class="fotter-soc__link">
          <svg class="footer-soc__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-github"></use>
          </svg>
          </a>
        </li>
         <li class="footer-soc__item">
          <a class="fotter-soc__link">
          <svg class="footer-soc__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
          </a>
        </li>
         <li class="footer-soc__item">
          <a class="fotter-soc__link">
          <svg class="footer-soc__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contacs">
      <ul class="footer-contacs__list">
        <li class="footer-contacts">
          <p class="footer-contacs__text">Feel free to contact </p>
          <a class="footer-contacts__link" href="tel:+61(0)383766284"
          > +61 (0) 383 766 284</a>
          </li>
      </ul>
    </div>
      <div class="footer__box"></div>
      <div class="footer-end">
        <p class="end">
          <span class="unicode">&#169</span> 2022 - IceCream. All Rights Reserved.
        </p>
      </div>
  </div>
</footer>
