<header class="header">
  <div class="container header__box">
    <a href="./index.html" class="header__logo link bounce-in-top"
      ><img
        src="./images/ice-cream-min.svg"
        alt="логотип"
        class="header__icon"
      />
      icecream</a
    >
    <div id="top">
      <a href="#home" class="top__link">
        <svg width="40" height="40" class="top-link__icon">
          <use href="./images/sprite.svg#link-top"></use>
        </svg>
      </a>
    </div>
    <nav class="header__navigation bounce-in-top" id="menu">
      <ul class="navigation__list list">
        <li class="navigation__item">
          <a href="#home" class="navigation__link link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#reviews" class="navigation__link link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="#products" class="navigation__link link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="btn-box bounce-in-top">
      <button
        type="button"
        class="open-menu js-open-menu"
        aria-controls="mobile-menu"
        aria-expanded="false"
      >
        <svg width="20" height="12">
          <use href="./images/sprite.svg#burger"></use>
        </svg>
      </button>
      <button type="button" class="header__btn">
        Buy now
        <svg class="modal__icon-btn header-btn__icon" width="8" height="16">
          <use href="/src/images/sprite.svg#icon-arrow-red"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button type="button" class="close-menu js-close-menu">
        <svg width="14" height="14">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <button type="button" class="modal-btn modal__btn">
        Buy now
        <svg class="modal__icon-btn header-btn__icon" width="8" height="16">
          <use href="/src/images/sprite.svg#icon-arrow-red"></use>
        </svg>
      </button>
      <nav id="menu-mobile">
        <ul class="mobile-menu__list list">
          <li class="mobile-menu__item">
            <a href="#home" class="mobile-menu__link link">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#reviews" class="mobile-menu__link link">About us</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#about" class="mobile-menu__link link">How it’s made?</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#products" class="mobile-menu__link link">Our products</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#contacts" class="mobile-menu__link link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
