<header class="header">
  <div class="container header__box">
    <a href="./index.html" class="header__logo"
      ><img
        src="./images/ice-cream-min.svg"
        alt="логотип"
        class="header__icon"
      />
      icecream</a
    >
    <nav class="header__navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">About us</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">How it’s made?</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Our products</a>
        </li>
        <li class="navigation__item">
          <a href="" class="navigation__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="btn-box">
      <button type="button" class="open-menu js-open-menu">open</button>
      <button type="button" class="header__btn">Buy now</button>
    </div>
    <div class="mobile-menu js-menu-container">
      <button type="button" class="close-menu js-close-menu">close</button>
      <button type="button" class="modal-btn">Buy now</button>
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Home</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">About us</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">How it’s made?</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Our products</a>
        </li>
        <li class="mobile-menu__item">
          <a href="" class="mobile-menu__link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<section class="hero">
  <div>
    <h1 class="hero__title">ice cream made with <span>passion</span></h1>

    <ul class="hero-button__list">
      <li class="hero-button__item">
        <a href="" class="hero-button__link">Products</a>
      </li>
      <li class="hero-button__item">
        <a href="" class="hero-button__link">How it’s made?</a>
      </li>
    </ul>
  </div>
</section>
