<section class="hero" id="home">
  <div class="container">
    <div class="background__hero">
      <picture>
        <source
          srcset="
            ./images/1280px/header-ice-cream-cone@2x.png 2x,
            ./images/1280px/header-ice-cream-cone.png
          "
          media="(min-width:1280px)"
        />

        <source
          srcset="
            ./images/768px/header-ice-cream-cone@2x.png 2x,
            ./images/768px/header-ice-cream-cone.png
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/320px/header-ice-cream-cone@2x.png 2x,
            ./images/320px/header-ice-cream-cone.png
          "
          media="(max-width:768px)"
        />
        <img
          src="./images/1280px/header-ice-cream-cone.png"
          alt="мороженое
"
          class="background__images wobble-hor-bottom"
        />
      </picture>
    </div>
    <div class="hero__box">
      <div>
        <h1 class="hero__title bounce-in-top">
          ice cream <br />
          made with <br />
          <span>passion</span>
        </h1>

        <ul class="hero-btn__list list bounce-in-top" id="menu-hero">
          <li class="hero-btn__item">
            <a href="#products" class="hero-btn__link link product__btn"
              >Products</a
            >
          </li>
          <li class="hero-btn__item">
            <a href="#about" class="hero-btn__link link made__btn"
              >How it’s made?</a
            >
          </li>
        </ul>
        <div class="eco">
          <picture>
            <source
              srcset="
                ./images/1280px/header-jug-of-milk@2x.png 2x,
                ./images/1280px/header-jug-of-milk.png
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./images/768px/header-jug-of-milk@2x.png 2x,
                ./images/768px/header-jug-of-milk.png
              "
              media="(min-width:768px)"
            />
            <img
              src="./images/1280px/header-jug-of-milk.png"
              alt=" член команды"
              class="eco__image"
            />
          </picture>
          <div class="eco__box">
            <p class="eco__discription">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <a href="#home" class="eco__link link">
              <svg width="12px" height="10px" class="eco__icon">
                <use href="/src/images/sprite.svg#icon-arrow-big"></use>
              </svg>
            </a>
          </div>

          <picture>
            <source
              srcset="
                ./images/1280px/header-girl@2x.png 2x,
                ./images/1280px/header-girl.png
              "
              media="(min-width:1280px)"
            />

            <source
              srcset="
                ./images/768px/header-girl@2x.png 2x,
                ./images/768px/header-girl.png
              "
              media="(min-width:768px)"
            />
            <img
              src="./images/1280px/header-girl.png"
              alt="девушка с мороженым
"
              class="girl__bg"
            />
          </picture>
        </div>
      </div>
      <ul class="hero__list list">
        <li class="hero__item">
          <p class="hero__discription"><span>16</span>cafes</p>
        </li>
        <li class="hero__item">
          <p class="hero__discription"><span>23</span>food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
