<section class="products section">
    <div class="conteiner">
<p class="products__title-text">100% natural</p>
<h2 class="products__title">products</h2>
<div class="products-content">
<ul class="products-list list">
    <li class="products-list__item-icecream">
<h3 class="products-list__item-text ice-cream">ice cream</h3>
<div class="products-main">
    <p class="products-main__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
    </p>
    <button type="button" class="products-button">
        <svg class="products-arrow" width="10" height="10">
            <use href="./images/sprite.svg#icon-arrow-big"></use>
        </svg>
        </button>
</div>
    </li>
    <li class="products-list__item-icecoffee">
        <h3 class="products-list__item-text ice-coffee">ice coffee</h3>
        <div class="products-main">
            <p class="products-main__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products-button">
                <svg class="products-arrow" width="10" height="10">
                    <use href="./images/sprite.svg#icon-arrow-big"></use>
                </svg>
                </button>
        </div>
    </li>
    <li class="products-list__item-milkshakes">
        <h3 class="products-list__item-text milkshakes">milkshakes</h3>
        <div class="products-main">
            <p class="products-main__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products-button">
                <svg class="products-arrow" width="10" height="10">
                    <use href="./images/sprite.svg#icon-arrow-big"></use>
                </svg>
                </button>
        </div>
    </li>
</ul>
</div>
</div>
</section>